/** Fonts Imports **/
@font-face {
  font-family: 'Outfit';
  font-display: swap;
  src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Young-Serif';
  font-display: swap;
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

/*
  CSS Variables
*/
:root {
  /* Layout */
  --width-mobile: 375px;
  --width-desktop: 1440;

  /* Colours */
  --clr-stone100: hsl(30, 54%, 90%);
  --clr-stone150: hsl(30, 18%, 87%);
  --clr-stone600: hsl(30, 10%, 34%);
  --clr-stone900: hsl(24, 5%, 18%);
  --clr-brown800: hsl(14, 45%, 36%);
  --clr-rose50: hsl(330, 100%, 98%);
  --clr-rose800: hsl(332, 51%, 32%);

  /* Typography */
  --font-paragraph: 16px;
  --font-header: 32px;
  --font-sub-header: 24px;
  --fw-regular: 400;
  --fw-bold: 600;
  --fw-black: 700;

  /* Fonts */
  --fs-base: 'Outfit';
  --fs-accent: 'Young-Serif';
}
